bin/
obj/
node_modules/
dist/
.DS_Store
.env
.env.*
coverage/
.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl
infra/terraform/terraform.tfvars
